body {
  margin: 10%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.container{
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(102, 4, 102, 0.911);
}
.regards{ 
  text-align: right;
}
.text_inside{
  text-align: center;
  width: auto;
}
img {
  width: 100px;
  height: auto;
}
.sticker1{
  margin-left: 45%;
}

p{
  text-align: center;
}
.trigger_Button{
  text-align: center;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #990479;
  color: white;
  transition: transform 0.2s, background-color 0.2s;
}
.button1{
  background-color: #990479;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit; 
  cursor: pointer;
  outline: inherit;
}
.trigger_Button :hover{
  color: #000000;
  transform: scale(1.05);
}

.pictures{
  display: flex;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  width: auto;
}
.pics{
  width: 40vh;
  height: 55vh;
  border: 5px solid #990479;
}
#image1, #image2{
  border-radius: 10px;
}
.sub1{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}